@model  CreateEditBookViewModel

@{
    ViewBag.Title = "Книги: добавление";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="margin-left: 10px">Добавить прочтенную книгу</h2>
<hr />
@using (Html.BeginForm("Create", "Books", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.Partial("_CreateEditBook", Model)
}

